﻿@{
    Layout = null;
}
<html>
<head>
    <title>Campos CRUD</title>
</head>
<body>
    <div id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://unpkg.com/&#64material-ui/core@latest/umd/material-ui.production.min.js"></script>
    <script type="module" src="@Url.Content(ViewBag.PagePath)"></script>
    <script> 
        var data = '@ViewBag.ServerData';
        data = data.replace(/&quot;/g, '"');
        console.log(data);
        window.serverData = JSON.parse(data);
    </script>
</body>
</html>